.newProduct {
  flex: 4;
}

.newProductForm {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.newProductItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
  /* padding: ; */
}
.newProductItem > label {
  font-size: 16px;
  font-weight: 600;
  color: rgb(94, 88, 88);
  margin-bottom: 10px;
}

.newProductItem > input {
  padding: 8px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid grey;
}

.newProductRadio > input {
  margin-top: 10px;
}

.newProductRadio > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newProductSelect {
  height: 40px;
  border-radius: 5px;
}

.newProductSelect > option {
  color: grey;
}
.newProductBtn {
  font-size: 16px;
  margin-top: 30px;
  width: 200px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  background-color: darkblue;
  padding: 7px 10px;
  cursor: pointer;
}
