@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
}
